.mainMenu-component {
    text-align: center;
    font-family: Poppins;
    display:flex;
    color: #e26d00;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .mainMenu-header {
    text-align: center;
    display: flex;
    color: #e26d00;
  }

  .mainMenu-rows{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  button {
    min-width: 40px;
    height: 30px;
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px rgb(61, 24, 1);
  }
  
 
  