.menu-container {
  width: 60%;
    margin: 5% auto;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    color: #e26d00; 
    margin-bottom: 40px;
    font-size: larger;
  }

  .menu-border{
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
  }

  .menu-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .menu-box {
    flex: 1;
    min-width: 20px;
    height: 80px;
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgb(61, 24, 1);
    color: #e26d00;
  }
  
  .largeFont {
    font-size: 60px;
    font-weight: 900;
    color: #f1f1f1;
  }
  .largeFont {
    font-size: 60px;
    font-weight: 900;
    color: #f1f1f1;
  }
  
  .smallFont {
    font-size: 15px;
    font-weight: 900;
    color: #d66f10;
  }

  .zIndBack {
    z-index: 1;
    position: absolute;
    
  }
  
   .zIndFront {
    position: absolute;
    z-index: 2;
  } 

  @media (max-width: 500px) {
    .zIndBack{
      height: 25rem;
    }
  }

  @media (max-width: 768px) {
  
    .largeFont {
      font-weight: 500;
      font-size: 40px;
    }
  
    .smallFont {
      font-weight: 500;
      font-size: 20px;
    }
  
    .headingSmall {
      top: 20px;
    }
  
  }

  .registerHeadOut{
    left:20%;
  }
  .registerHeadIn{
    left:30%;
    top:35px;
  }