.login-container {
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    
  }
  
  .login-container h2 {
    margin-top: 50px;
    color: #e26d00; 
    margin-bottom: 40px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  
  .login-container button {
    width: 30%;
    background-color: #e26d00; 
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; 
  }
  
  .login-container button:hover {
    background-color: #c25b00; 
  }
  
  .login-container p {
    margin: 10px 0;
  }
  