.sweet-component {
  width: auto;
  margin-right: 3%;
  margin-top: 1%;
  margin-left: 8%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.sweet-Img {
  width: 45vw;
}

.table-head{
 text-align: center;
}

