.customBtn{
    background: linear-gradient(to right, #e26d00,#FFA958);
    border-radius: 10px;
  }
  
  .navbtn{
    color: #6c757d;
  }
  
  .navbtn:hover{
    color: #f07401;
    font-weight: 600;
  }