.whiteBox{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff7e9;
    margin: 10px;
    text-align: center;
    -webkit-text-stroke: thin;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    
}