.login-container {
    width: 60%;
    margin: 5% auto;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }
  
  .login-container h2 {
    margin-top: 50px;
    color: #e26d00; 
    margin-bottom: 40px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  
  .login-container button {
    width: 40%;
    background-color: #e26d00; 
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; 
  }
  
  .login-container button:hover {
    background-color: #ffb891 ; 
  }
  
  .login-container p {
    margin: 10px 0;
  }