.user-icon-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.user-icon-dropdown i {
  color: #e26d00;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-top: none;
  width: 5 vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.user-icon-dropdown:hover .dropdown-content {
  display: block;
}