
.footer{
    height: 25%;
  }

  .d-flex {
    display: flex!important;
    padding-left: 100px;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-right: 100px;
  }

  .nav-link {
    display: block;
    text-align: end;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    color: #e26d00;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}